body {
  font-family: "Courier New", Courier, monospace;

}


#map {
  display: inline-block;
}
canvas {
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid black;
  display: inline-block;
  background-color: #7F7D7E;
}

#scannerDiv, #treasureDiv, #cargoDiv {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 60px;
}


#coordDisplay {

}

#myProgress {
    width: 100%;
    background-color: #A7A5A6;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: #565455;
}
