body {
  font-family: "Courier New", Courier, monospace;

}


#map {
  display: inline-block;
}
canvas {
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid black;
  display: inline-block;
}

#scannerDiv {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

#coordDisplay {

}
