.row {
	background-color: #ef3b3b;
}
footer {
	background-color: #666;
}
h1 {
	text-align: center;
	background-color: #ef3b3b;
}
button {
background-color: #dcdcf7;
letter-spacing: 2px;
margin-left: auto;

}

.button {
    position: relative;
    bottom: 50px;
    right:80px;
    width:150px;
    height:30px;
    margin-left: 80%;
}