body {
  background-color: #999;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
/* reset css */
a {
  text-decoration: none;
}
.clear-float {
  clear: both;
}
menu  {
  width: 600px;
}
menu ul, menu {
  margin:  0;
  padding: 0;
}
menu ul li {
  display: inline-block;
  text-transform: uppercase;
  width: 24%;
}
li a {
  color: #000;
}

 menu {
   background-color: #f98989;
   height: 50px;
   vertical-align: middle;
   line-height: 50px;
 }
section {
  background-color: #fff;
  width: 70%;
}
aside {
  background-color: #f98989;
  width: 30%;
  float: left;
}
footer {
  background-color: #e69d84;
}
